div.wrapper
  div.content
    nav
      .nav-wrapper
        ul#nav-mobile.left.hide-on-med-and-down
          li
            a(routerLink="/home") Home
          li
            a(routerLink="/about") About
    router-outlet
    mmg-search
    mmg-anime-response
    mmg-manga-response
