// Image in the card
.card.horizontal .card-image img {
  // Make sure it's always the full height of the card
  height: 100%;
}

.card.horizontal {
  background-color: #0D47A1;
  padding: 10px;
}

.card-stacked {
  background-color: white;
  max-width: 100%;
}


// Abstract
.abstract {
  // Make it italic
  font-style: italic;
  overflow-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}
