div(class="searchbar")
  div(class="title") ManManga
    .subTitle MOE !
  div(class="comp")
    div Search
      .input <Input #searchfield>
      button("(click)"="add(searchfield.value)") envoyer
      p Message : {{clickMessage}}
    div(class="sort")
      .row
        .manga
          .col.s4
            .card(class="card red lighten-2")
              .card-content
                span.card-title Manga

        .anime
          .col.s4
            .card(class="card green lighten-2")
              .card-content
                span.card-title Anime

        .author
          .col.s4
            .card(class="card teal lighten-2")
              .card-content
                span.card-title Author
.mangasresponses("*ngIf"="mangas")
  .mangaresponse("*ngFor"="let manga of mangas")
    <mmg-manga-response [manga]="manga"></mmg-manga-response>
.animesresponses("*ngIf"="animes")
  .animeresponse("*ngFor"="let anime of animes")
    <mmg-anime-response [anime]="anime"></mmg-anime-response>
.authorsresponses("*ngIf"="authors")
  .authorresponse("*ngFor"="let author of authors")
    <mmg-author-response [author]="author"></mmg-author-response>
