div(class="searchbar")
  div(class="title") ManManga
    .subTitle MOE !
  div(class="comp")
    div Search
    div
      input#search-field(class="input")
    div
      button#search-button(class="button" type="submit" value="Submit") envoyer
    div(class="sort")
      .row
        .manga
          .col.s4
            .card(class="card red lighten-2")
              .card-content
                span.card-title Manga

        .anime
          .col.s4
            .card(class="card green lighten-2")
              .card-content
                span.card-title Anime

        .author
          .col.s4
            .card(class="card teal lighten-2")
              .card-content
                span.card-title Author

