div(class="searchbar")
  div(class="title") ManManga
    .subTitle MOE !
  div(class="comp")
    div Search
    div
      input(class="input")
    div
      button(class="button" type="submit") envoyer
