div(class="searchbar")
  div(class="title") ManManga
    .subTitle MOE !
  div(class="comp")
    div Search
    div
      input#search-field(class="input")
    div
      button#search-button(class="button" type="submit") envoyer
